<!DOCTYPE html>
<html>
  <head>
    <title>コンナビ！</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("コンナビ！", "/") %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
        <li>
          <%= link_to("投稿一覧", "/posts/index") %>
        </li>
        <li>
          <%= link_to("投稿する", "/posts/new") %>
        </li>
        <li>
          <%= link_to("ユーザー一覧", "/users/index") %>
        </li>
        <li>
          <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
        </li>
        <% else %>
        <li>
          <% if @current_user %>
            <%= link_to("コンナビ！", "/posts/index") %>
          <% else %>
            <%= link_to("コンナビ！", "/") %>
          <% end %>
        </li>
        <li>
          <%= link_to("コンナビ！とは", "/about") %>
        </li>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <script src="script.js"></script>

    <%= yield %>
  </body>
</html>
